<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byType">

    <!--xmlns:aop="http://www.springframework.org/schema/aop"
    ...
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
    -->

    <!--<context:annotation-config />
    <context:component-scan base-package="pe.com.citasmedicas.dao.hibernate" />
    <context:component-scan base-package="pe.com.citasmedicas.service.implement" />-->
    
    <bean id="citaDao" class="pe.com.citasmedicas.dao.hibernate.CitaDaoHbn" />
    <bean id="especialidadDao" class="pe.com.citasmedicas.dao.hibernate.EspecialidadDaoHbn" />
    <bean id="horarioDao" class="pe.com.citasmedicas.dao.hibernate.HorarioDaoHbn" />
    <bean id="medicoDao" class="pe.com.citasmedicas.dao.hibernate.MedicoDaoHbn" />
    <bean id="pacienteDao" class="pe.com.citasmedicas.dao.hibernate.PacienteDaoHbn" />
    <bean id="usuarioDao" class="pe.com.citasmedicas.dao.hibernate.UsuarioDaoHbn" />

    <bean id="citaService" class="pe.com.citasmedicas.service.implement.CitaServiceImpl">
        <property name="citaDao" ref="citaDao" />
    </bean>
    <bean id="especialidadService" class="pe.com.citasmedicas.service.implement.EspecialidadServiceImpl">
        <property name="especialidadDao" ref="especialidadDao" />
    </bean>
    <bean id="horarioService" class="pe.com.citasmedicas.service.implement.HorarioServiceImpl">
        <property name="horarioDao" ref="horarioDao" />
    </bean>
    <bean id="medicoService" class="pe.com.citasmedicas.service.implement.MedicoServiceImpl">
        <property name="medicoDao" ref="medicoDao" />
    </bean>
    <bean id="pacienteService" class="pe.com.citasmedicas.service.implement.PacienteServiceImpl">
        <property name="pacienteDao" ref="pacienteDao" />
    </bean>
    <bean id="usuarioService" class="pe.com.citasmedicas.service.implement.UsuarioServiceImpl">
        <property name="usuarioDao" ref="usuarioDao" />
    </bean>

    <!--<bean id="autenticacionInterceptorBean" class="pe.com.citasmedicas.interceptor.AutenticacionInterceptor" />
    
    <aop:config>
        <aop:aspect id="autenticacionInterceptor" ref="autenticacionInterceptorBean">
            <aop:pointcut id="actionPointcut" expression="execution(* pe.com.citasmedicas.action.process..*.*(..))"/>
            <aop:before pointcut-ref="actionPointcut" method="intercept"/>
        </aop:aspect>
    </aop:config>-->

    <bean id="loginAction" class="pe.com.citasmedicas.action.LoginAction">
        <property name="usuarioService" ref="usuarioService" />
    </bean>
    <bean id="buscarHorarioAction" class="pe.com.citasmedicas.action.process.reservarcita.BuscarHorarioAction">
        <property name="horarioService" ref="horarioService" />
        <property name="especialidadService" ref="especialidadService" />
        <property name="medicoService" ref="medicoService" />
    </bean>
    <bean id="cargarMedicosAction" class="pe.com.citasmedicas.action.process.reservarcita.CargarMedicosAction">
        <property name="medicoService" ref="medicoService" />
    </bean>
    <bean id="iniciarReservaAction" class="pe.com.citasmedicas.action.process.reservarcita.IniciarReservaAction">
        <property name="especialidadService" ref="especialidadService" />
        <property name="medicoService" ref="medicoService" />
    </bean>
    <bean id="reservarCitaAction" class="pe.com.citasmedicas.action.process.reservarcita.ReservarCitaAction">
        <property name="horarioService" ref="horarioService" />
        <property name="citaService" ref="citaService" />
        <property name="pacienteService" ref="pacienteService" />
    </bean>
</beans>