body.principal {
background:url(../img/bg.jpg) no-repeat top center #97cae4;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #3b5564;
}
body.flotante {
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #3b5564;
}
p{
margin:0px;
padding:0 0 5px 0;
line-height:17px;
text-align:justify;
}
p.pat{
color:#FFFFFF;
}
h1{
color:#fff;
font-size:16px;
font-weight:bold;
margin:0px;
padding:5px 0 5px 0;
}
h2{
color:#759f1b;
font-size:16px;
float:left;
font-weight:bold;
margin:0px;
padding:5px 0 0 0;
}
span.blue{
color:#a5dcf8;
}
span.dark_blue{
color:#116c64;
}
#main_container{
width:900px;
height:auto;
margin:auto;
background-color:#fff;
}
.header{
width:900px;
height:114px;
margin:auto;
background:url(../img/header_bg.gif) repeat-x;
}
.right_header{
float:right;
width:550px;
}
#logo{
padding:30px 0 0 20px;
float:left;
}
/*----------------------menu-------------------------*/
#menu{
width:500px;
height:35px;
float:right;
padding:40px 0 0 0;
}
#menu ul{
list-style:none;padding:0px;margin:0px;display:block; font-weight:bold;
}
#menu ul li{
list-style:none;display:inline;float:left;width:96px;height:35px;padding:0px;line-height:35px;font-size:13px;margin:0 3px 0 3px;
}
#menu ul li a{
height:35px; width:96px;float:left;text-decoration:none;padding:0px;margin:0px;color:#6c7b83;text-align:center; background:url(../img/menu_bt.gif) no-repeat center;
}
#menu ul li a:hover{
height:35px;width:96px;text-decoration:none;color: #68C2EF;
}
#menu ul li a.current{
height:35px;width:96px;float:left;text-decoration:none;padding:0px;margin:0px;color: #68C2EF;background:url(../img/menu_bt.gif) no-repeat center;
}

#middle_box{
width:900px;
height:208px;
clear:both;
margin:auto;
background:url(../img/middle_banner.gif) no-repeat center;
}
.middle_box_content{
padding:30px 0 0 20px;
}
.top_menu{
width:285px;
float:right;
}
a.login {
width:49px;
height:35px;
display:block;
background:url(../img/login.gif) no-repeat center;
line-height:35px;
color:#a6c4d4;
font-size:10px;
font-weight:bold;
text-decoration:none;
padding:0 0 0 40px;
float:left;
margin:0 3px 0 3px;
}
a.sign_up {
width:49px;
height:35px;
display:block;
background:url(../img/sign_up.gif) no-repeat center;
line-height:35px;
color:#a6c4d4;
font-size:10px;
font-weight:bold;
text-decoration:none;
padding:0 0 0 40px;
float:left;
margin:0 3px 0 3px;
}
.pattern_bg{
width:900px;
height:162px;
clear:both;
margin:auto;
background:url(../img/pattern_bg.gif) no-repeat center;
}
.pattern_box{
width:400px;
float:left;
padding:15px 0 0 25px;
}
.pattern_box_icon{
float:left;
padding:5px;
}
.pattern_content{
width:300px;
float:left;
padding:0 0 0 10px;
}
/*---------------------main_content------------------*/
#main_content{
width:885px;
height: auto;
margin: auto;
padding:0 0 0 15px;
}
.clear{
clear:both;
}
.box_content{
width:267px;
height:auto;
float:left;
margin:10px 10px 30px 10px;
background:url(../img/box_bg.gif) no-repeat top center;
}
.box_title{
padding:10px 0 10px 0;
}
.title_icon{
float:left;
padding:0 5px 0 10px;
}
.box_text_content{
width:250px;
float:left;
padding:15px 0 0 15px;
}
.box_icon{
float:left;
padding:0 5px 0 0 ;
}
.box_text{
width:190px;
float:left;
text-align:justify;
padding:0 0 0 10px;
}
a.details{
float:right;
padding:5px 15px 0 0;
text-decoration:none;
font-weight:bold;
color:#f8851f;
}
/*-----------------------------footer------------------*/
#footer{
width:900px;
height:45px;
color:#508aa1;
background-color:#e8eff2;
}
.copyright{
float:left;
padding:10px 0 0 10px;
}
.center_footer{
color:#c3ced4;
font-size:12px;
font-weight:bold;
width:550px;
padding:15px;
text-align:center;
float:left;
}
.footer_links{
float:right;
padding:10px 10px 0 0;
}

/*----------------------personalizados-------------------------*/
/*Cuadros*/
#profundidad {
	width:900px;
	height:15px;
	color:#1E546E;
	background-color:#BAE8FF;
}
#contenido {
width:870px;
height: 500px;
margin: auto;
padding: 15px 15px 15px 15px;
}

.caja_contenido{
width:840px;
float:left;
padding: 10px 15px 10px 15px;
}

.caja_texto{
width:190px;
float:left;
text-align:justify;
padding:0 0 0 10px;
z-index: 10;
background-image:url(../img/gripe.jpg); background-position:left; background-repeat:no-repeat;
}
.texto_medico{
width:190px;
float:left;
text-align:justify;
padding:125px 0px 0 10px;
}
/*Tablas*/
.x1h {
	BORDER-RIGHT: #c9cbd3 1px solid; BORDER-TOP: #c9cbd3 1px solid; BORDER-LEFT: #c9cbd3 1px solid; BORDER-BOTTOM: #c9cbd3 1px solid; BORDER-COLLAPSE: collapse
}
.x4j {
	FONT-SIZE: x-small; BORDER-RIGHT: #c9cbd3 0px solid; BORDER-TOP: #c9cbd3 0px solid; BORDER-LEFT: #c9cbd3 1px solid; BORDER-BOTTOM: #c9cbd3 0px solid; BACKGROUND-COLOR: #cfe0f1;
}
.x4x {
	FONT-SIZE: x-small; BORDER-RIGHT: #c9cbd3 1px solid; BORDER-TOP: #c9cbd3 1px solid; BORDER-LEFT: #c9cbd3 1px solid; BORDER-BOTTOM: #c9cbd3 1px solid; BACKGROUND-COLOR: #f2f2f5
}
.x4xf {
	FONT-SIZE: x-small; BORDER-RIGHT: #c9cbd3 1px solid; BORDER-TOP: hidden; BORDER-LEFT: #c9cbd3 1px solid; BORDER-BOTTOM: #c9cbd3 1px solid; BACKGROUND-COLOR: #f2f2f5
}
div#scroll {
	height:280px;
	overflow-x: hidden;
	overflow-y: auto;
	direction:rtl;
	direction:ltr;
}
/*Botones*/
.x7g {
	BORDER-RIGHT: #7b8194 1px solid; PADDING-RIGHT: 8px; BACKGROUND-POSITION: left top; BORDER-TOP: #a5a9b6 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; MARGIN: 1px; OVERFLOW: visible; BORDER-LEFT: #a5a9b6 1px solid; height: 21px; CURSOR: hand; COLOR: #586073; BORDER-BOTTOM: #7b8194 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c9e5ec; TEXT-ALIGN: center; font-size:11px;
}
/*Cajas texto y combo*/
.x4 {
	COLOR: #3b5564; FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-size:12px;
}
/*Links*/
a.enlace{
text-decoration:none;color:#24A3B9;
}
a:hover.enlace{
text-decoration:none;color: #68C2EF;
}
a.current.enlace{
text-decoration:none;color:#24A3B9;
}
/*Texto*/
span.titulo{
color:#E24601;font-size:16px;FONT-FAMILY: Arial, Helvetica, sans-serif;FONT-WEIGHT: bold;
}
/*Margenes*/
.x7q {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
/*Barras*/
.x1i {
	BORDER-RIGHT: #c9cbd3 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #c9cbd3 1px solid; PADDING-LEFT: 2px; FONT-SIZE: x-small; PADDING-BOTTOM: 1px; BORDER-LEFT: #c9cbd3 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c9cbd3 0px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #edf6ff
}
/*Loguin*/
#main_loguin{
width:800px;
height:auto;
margin-left:auto;
margin-right:auto;
margin-top: 100px;
}
.loguin_bg{
width:792px;
height:240px;
clear:both;
padding-top:50px;
border:solid;
border-color:#CFE0F1;
background-color:#FFFFFF;
background:url(../img/box_loguin_bg.gif) repeat-x ;
}
#footer_loguin{
width:800px;
height:25px;
font-size:12px;
font-weight:bold;
text-align:center;
float:left;
}
.title_login{
width:291px;
height:210px;
padding: 0px 300px 0px 0px;
background:url(../img/login_title.png) no-repeat;
margin:auto;
}
.form_login{
padding: 60px 0px 0px 230px;
margin:auto;
}
.x2o {
	FONT-SIZE: x-small; COLOR: #C40000; FONT-FAMILY: Arial, Helvetica, sans-serif;
}